.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(220,20,60);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 2px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: -28px;
    font-size: 26px;
    margin-left: 90px;
}



#main {
    transition: margin-left .5s;
    padding: 16px;
}
