<div id="main">
  <div class="">
    <md-button
      class="md-fab md-primary md-fab-top-right"
      ng-click="ctrl.showMenu($event, ctrl.more)"
      style="margin-left:95%;">
      <md-icon class="	glyphicon glyphicon-user"></md-icon>
    </md-button>
  </div>
  <div class="">
    <span style="font-size:20px;color:white;" ng-click="abrirMenu()">&#9776; </span>
  </div>
  <div class="content-wrapper" style="margin-left:30px;" >
      <section class="content-header" >
          <h1>
            Bem Vindo
            <small>à página administrativa da sua empresa!</small>
            <h6>Financeiro</h6>
          </h1>
          <ol class="breadcrumb"></ol>
        </section>
        <div id="mySidenav" class="sidenav">
          <aside class="main-sidebar">
            <header class="main-header" >
           <!-- Logo -->
           <div class="logo" style="color:#fff">
             <!-- mini logo for sidebar mini 50x50 pixels -->
             <span class="logo-mini"><b>A</b>LT</span>
             <!-- logo for regular state and mobile devices -->
             <span class="logo-lg"><b>Admin</b> Docerias</span>

           </div>
           <!-- Header Navbar: style can be found in header.less -->
           <nav class="navbar navbar-static-top ">
             <!-- Sidebar toggle button-->
         </header>
            <a href="javascript:void(0)" class="closebtn" ng-click="fecharMenu()"></a>
            <section class="sidebar" ng-init="abrirMenu()">
              <ul class="sidebar-menu">
                <li class="active treeview">
                  <a ui-sref="main.meusPedidos">
                    <i class="glyphicon glyphicon-list-alt"></i> <span>Meus Pedidos</span>
                    <span class="pull-right-container">
                    </span>
                  </a>
                </li>

                <li class="active treeview">
                  <a ui-sref="main.meusOrcamentos">
                    <i class="fa fa-calculator"></i> <span>Meus orçamentos</span>
                    <span class="pull-right-container">
                    </span>
                  </a>
                </li>
                <li class="active treeview">
                  <a  ui-sref="main.montarCardapio">
                    <i class="fa fa-edit"></i> <span>Montar Cardápio</span>
                    <span class="pull-right-container">
                    </span>
                  </a>
                </li>
                <li class="active treeview">
                  <a ui-sref="main.financeiro">
                    <i class="glyphicon glyphicon-usd"></i> <span>Financeiro</span>
                    <span class="pull-right-container">
                    </span>
                  </a>
                </li>
                <li class="active treeview">
                  <a ui-sref="main.eventos">
                    <i class="fa fa-calendar"></i> <span>Eventos</span>
                    <span class="pull-right-container"></span>
                  </a>
                </li>
                <li class="active treeview">
                  <a ui-sref="main.relatorios">
                    <i class="glyphicon glyphicon-print"></i>
                    <span>Relatórios</span>
                  </a>
                </li>
            </section>
          </aside>
        </div>
        <!--SESSÃO CONTROLE DA PÁGINA - CONTAINER-->

          <div class="row">
            <section class="col-lg-12 connectedSortable">
              <div class="nav-tabs-custom">
                <div class="tab-content">
                  <div class="chart tab-pane active"  style="position: relative; height: 800px;">
                    <div class="col-sm-3">


                  </div>
                  <div class="chart tab-pane"  style="position: relative; height: 100%;">

                  </div>
                </div>
              </div>
            </section>
            <section class="col-lg-5 connectedSortable"></section>
          </div>
        </div>
</div>
