<div id="main">
  <span style="font-size:15px;" ng-click="abrirMenu()">&#9776; </span>
  <div class="content-wrapper" style="margin-left:30px" >
      <section class="content-header" >
          <h1>
            Bem Vindo
            <small>à página administrativa da sua empresa!</small>
          </h1>
              <small>Meus pedidos</small>
          <ol class="breadcrumb"></ol>
        </section>
        <div id="mySidenav" class="sidenav">
          <aside class="main-sidebar">
            <header class="main-header" >
           <!-- Logo -->
           <a href="index2.html" class="logo">
             <!-- mini logo for sidebar mini 50x50 pixels -->
             <span class="logo-mini"><b>A</b>LT</span>
             <!-- logo for regular state and mobile devices -->
             <span class="logo-lg"><b>Admin</b> Docerias</span>

           </a>
           <!-- Header Navbar: style can be found in header.less -->
           <nav class="navbar navbar-static-top ">
             <!-- Sidebar toggle button-->
         </header>
            <a href="javascript:void(0)" class="closebtn" ng-click="fecharMenu()">&times;</a>
            <section class="sidebar" ng-init="abrirMenu()">
              <ul class="sidebar-menu">
                <li class="active treeview">
                  <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Meus Pedidos</span>
                    <span class="pull-right-container">
                    </span>
                  </a>
                </li>

                <li class="active treeview">
                  <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Meus orçamentos</span>
                    <span class="pull-right-container">
                    </span>
                  </a>
                </li>
                <li class="treeview">
                  <a href="#">
                    <i class="fa fa-edit"></i> <span>Montar Cardápio</span>
                    <span class="pull-right-container">
                    </span>
                  </a>
                </li>
                <li class="treeview">
                  <a href="#">
                    <i class="fa fa-table"></i> <span>Financeiro</span>
                    <span class="pull-right-container">
                    </span>
                  </a>
                </li>
                <li>
                  <a href="pages/calendar.html">
                    <i class="fa fa-calendar"></i> <span>Eventos</span>
                    <span class="pull-right-container"></span>
                  </a>
                </li>
                <li>
                  <a href="pages/mailbox/mailbox.html">
                    <i class="fa fa-envelope"></i>
                    <span>Relatórios</span>
                  </a>
                </li>
            </section>
          </aside>
        </div>
        <!--SESSÃO CONTROLE DA PÁGINA - CONTAINER-->

          <div class="row">
            <section class="col-lg-12 connectedSortable">
              <div class="nav-tabs-custom">
                <div class="tab-content">
                  <div class="chart tab-pane active"  style="position: relative; height: 800px;"></div>
                  <div class="chart tab-pane"  style="position: relative; height: 100%;"></div>
                </div>
              </div>
            </section>
            <section class="col-lg-5 connectedSortable"></section>
          </div>
        </div>
</div>
